<div class="content-container">
    <h1 class="view-title">Divulgacao Cientifica</h1>

    Sendo um dos grandes objetivos da APCM a aproximação da sociedade civil às problemáticas sobre conservação do ambiente marinho, são desenvolvidas ações de divulgação científica 
    e de educação ambiental sobre a sustentabilidade e conservação dos oceanos.
    A APCM organiza, em conjunto com outras instituições, encontros científicos que reúnem investigadores nacionais e internacionais das diferentes especialidades que estudam o 
    meio marinho, a sua história passada, o seu estado presente e preocupações para o futuro.
    Fornece ainda apoio à publicação de obras que se dediquem a estas temáticas, dando a conhecer o trabalho desenvolvido sobre estas temáticas. 

</div>