<div class="carousel" controller="HomeCtrl">
    <div class="carousel-content">
        <!-- Angular Slick Slider -->
        <slick settings="slickConfig" class="slider">
            <div class="carousel-slide" style="background-image: url('../../images/carousel/1.jpg');" data-title="Investigacao Cientifica">
                <h1>Ha sangue quente nos oceanos</h1>
            </div>
            <div class="carousel-slide" style="background-image: url('../../images/carousel/3.jpg');" data-title="Comunicacao de Ciencia">
            </div>
            <div class="carousel-slide" style="background-image: url('../../images/carousel/5.jpg');" data-title="Apoiar-nos">
            </div>
        </slick>
    </div>
</div>

<div class="home-navigation">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea delectus dolorem ab veniam sapiente rerum aspernatur dolore illo hic architecto officia autem, aliquid obcaecati vitae. Ipsam est animi quia?
    Ipsa quam ipsum delectus. Quo voluptatem iusto voluptatibus accusantium recusandae sequi, itaque magnam tempore aliquid consequuntur dignissimos vitae ullam obcaecati perspiciatis, odit tempora explicabo expedita animi nam quidem quos. Iure!
    Minus architecto totam sapiente id quos quae, facere aliquid officiis excepturi voluptas minima neque repellat quo, nemo veritatis explicabo beatae voluptatibus magni recusandae aperiam deserunt vero veniam. Reprehenderit, ex nisi!
    Minima, harum id? Laboriosam magni assumenda repudiandae iure ab exercitationem! Natus blanditiis vel quam ratione modi, voluptate temporibus deleniti a consequuntur. Distinctio pariatur dolore culpa totam odio tenetur vel tempora!
    Voluptate quidem alias nobis sit minus dolores autem iusto amet fuga vero aliquid, similique asperiores aperiam aspernatur maxime at iure neque velit molestias nulla facilis incidunt dicta iste id. At!
    Quo, voluptatibus. Quo veniam rerum ut ratione rem harum maiores earum commodi qui deleniti molestias obcaecati quod a velit laudantium doloribus temporibus, exercitationem facilis dolor molestiae labore. Ducimus, nihil impedit?
</div>
<div class="home-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laborum illo in obcaecati libero error molestiae tenetur corrupti facilis. Veritatis veniam molestiae sit quia quos quod ea nisi neque dolor.
    Dolorem excepturi atque, optio odio aperiam harum. Dolorem optio accusantium velit culpa possimus dolorum minus id doloribus assumenda, sed exercitationem soluta sapiente atque modi saepe ea nostrum magni minima sequi.
    Distinctio culpa doloremque obcaecati provident suscipit vel, porro nobis molestias, illo fugiat ipsam. Fugiat nostrum ad suscipit architecto porro accusantium rerum magni quos quis, corrupti accusamus sed natus a officiis?
    Dolorem animi nisi harum non accusamus error architecto, corporis repellendus perferendis quis molestiae ipsam delectus quas! Quos beatae repudiandae voluptatem temporibus error unde? Laborum, facilis repudiandae incidunt nulla nam tempora?
    Fugiat quam at, amet magnam saepe voluptas dolores minima? Architecto blanditiis ullam, repudiandae obcaecati odio quia eius praesentium excepturi amet aperiam explicabo enim repellat error eos atque dignissimos? Totam, commodi?
    Quo cum itaque doloribus veritatis, possimus totam molestias aut! Error voluptas at odio eveniet harum quis accusantium assumenda, nam, ducimus aspernatur itaque voluptates veritatis cum fuga rem inventore exercitationem repellat.
    Omnis odio, quod facilis delectus assumenda facere? Pariatur tempora earum, deleniti dignissimos doloremque sequi aut quidem facilis explicabo ratione voluptatem similique repudiandae distinctio eum consequatur eos soluta odio temporibus voluptatum!
    Sunt excepturi tempore reprehenderit deserunt in distinctio soluta nulla dolores illo quaerat necessitatibus accusamus dignissimos, exercitationem doloribus itaque molestiae saepe consequuntur adipisci? Ipsam nihil modi adipisci accusantium quia, in quod.
    Incidunt minus corrupti unde. Consequatur quasi beatae architecto dolorem magnam, consectetur corporis, libero voluptas quos optio dicta quidem debitis, nemo minima quae voluptatibus aut? Inventore culpa pariatur ratione et cumque?
    Enim delectus, quibusdam exercitationem itaque harum, mollitia et molestias illo nam incidunt veniam perspiciatis modi a sunt dolorem eveniet cum adipisci optio sapiente ipsa dolores placeat doloribus. Ratione, vel eligendi.
    Ipsam est vel quis tempora alias fugiat corporis nam dicta quasi. Quidem sint quod possimus ipsam provident. Deleniti consequuntur laborum, quisquam sit officia in assumenda nulla et. Dolorum, facilis molestias.
    Sequi neque nemo doloribus sint, cupiditate, voluptatum dolor ea dicta exercitationem similique officia excepturi vel ad, eaque magni animi doloremque dolores! Iusto deserunt a tenetur at reiciendis mollitia fugiat earum.
    Numquam aspernatur cum, beatae doloribus voluptates repudiandae nemo illum nam voluptatem mollitia esse blanditiis obcaecati minima vero, delectus tempora dignissimos adipisci consectetur? Quod at ex beatae debitis. Quibusdam, non voluptate.
    Aliquam unde, ad recusandae magni quo cum deserunt ex facere laudantium! Ut, neque delectus. Facilis, soluta molestias. Alias libero in, similique ipsam non debitis et temporibus, suscipit ab vero veritatis.
    Ratione quaerat facilis at animi possimus voluptate excepturi reiciendis eius totam molestiae quisquam, voluptatum nostrum repellat quo incidunt placeat nesciunt vero iste iusto delectus dolores doloremque illum? Magni, cupiditate tenetur?
    Quibusdam deserunt, quam architecto, neque dolor cum, deleniti sit autem eveniet reprehenderit necessitatibus saepe tempore non quas sint nobis quia laboriosam quos! Autem est doloremque enim aspernatur facere. Assumenda, necessitatibus?
    Soluta hic ullam tempora praesentium nobis sapiente officia harum enim atque. Beatae, voluptate? Delectus libero distinctio vero aut voluptatum impedit praesentium ullam inventore nesciunt magni quam dolorum, ea tempora saepe?
    Modi libero provident, sed debitis delectus suscipit reiciendis minima fugiat aperiam, possimus recusandae blanditiis voluptatibus porro labore eligendi ut quae ipsam pariatur necessitatibus tenetur quibusdam asperiores nemo molestias. Asperiores, reprehenderit!
    Dicta exercitationem nesciunt natus perspiciatis, hic quibusdam ipsum eius libero aut architecto illum odio tempora? Fugiat aut sapiente quia, consequuntur, nihil a repellat rem eligendi commodi dicta, voluptatum aliquid necessitatibus.
    Commodi, error! Beatae reprehenderit officia hic, deleniti laudantium nobis illo accusantium id laboriosam nemo, molestiae, mollitia repellendus est non? Hic enim ipsam reprehenderit, dolore quidem labore consequatur dolorem dicta minima!
</div>    