<div class="content-container">
    <h1 class="view-title">Quem somos</h1>

    <p>A Associação Para as Ciências do Mar é uma associação científica sem fins lucrativos, criada em 2009, que tem como missão promover a investigação, divulgação e conservação do meio marinho. 
        Conta com a colaboração de profissionais, estudantes e voluntários de diferentes áreas, como a biologia, ecologia, história, arte e engenharia, todos eles com a vontade e o objetivo de 
        contribuir para o melhor conhecimento e divulgação dos Oceanos de modo a preservá-los para as gerações futuras.​</p>

    <p>Os principais objetivos da APCM são:</p> ​

    <ul>
        <li>Contribuir para o estudo dos grandes animais marinhos e dos seus habitats, através de atividades que compreendem a investigação científica e a implementação de projetos de conservação 
            do meio marinho numa perspetiva de desenvolvimento sustentável;​</li>
        <li>Divulgar e apresentar à sociedade civil os resultados de trabalhos científicos e sensibilizar para as questões relacionadas com meio marinho e a conservação dos Oceanos;​</li>
        <li>Promover o envolvimento das várias partes interessadas, nacionais e internacionais, em todas e quaisquer ações de sensibilização e conservação, de modo a fomentar uma aproximação 
            das comunidades locais às temáticas relacionadas com o meio marinho.​​</li>
        <li>Colaborar ativamente e estabelecer parcerias com diferentes órgãos da sociedade sejam eles ONG locais e internacionais, universidades ou investigadores nacionais e internacionais, 
            órgãos do estado, comunidades de pescadores, empresas e associações de carácter relevante para a temática dos Oceanos.</li>
        <li>Apoiar o desenvolvimento de trabalhos académicos, como teses de mestrado e doutoramento, bem como a publicação de trabalhos científicos.</li>
        <li>Transmitir esse conhecimento científico ao público em geral contribuindo para uma maior consciencialização ambiental, para a tomada de posições fundamentadas e para uma mudança de 
            actividades perante o meio natural.​</li>
    </ul>
</div>